SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
QUOTE_TO_EMAIL=info@velomacflowmeter.com

ADMIN_USERNAME=admin
ADMIN_PASSWORD=

GITHUB_TOKEN=
GITHUB_REPO=rubyyya66-velomac/velomac-website
GITHUB_BRANCH=main
